{% extends "layout.html" %} {% block content%}

<div class=" p-5">

    <table class="table table-borderless table-hover">
        <thead>
            <th>Train id</th>
            <th>Booked TIckets</th>
            <th>Source</th>
            <th>Destination</th>
            <th>type</th>
            <th>date</th>

        </thead>
        {% for booking in Bookings %}
        <tr>
            <td>{{booking.trains.id}}</td>
            <td>{{booking.num_booked}}</td>
            <td>{{booking.trains.source}}</td>
            <td>{{booking.trains.destination}}</td>
            <td>{{booking.trains.types}}</td>
            <td> {{booking.trains.date}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<a href="/">Go back to home page</a> {% endblock content %}