<!doctype html>
<html>

<body>
    <form action="{{url_for('available')}}" method="POST">
        {{form.date.label}}{{form.date}}
        <input type="submit" value="Submit"></input>
    </form>
    <table border=1>
        <thead>
            <th>train id</th>
            <th>source</th>
            <th>destination</th>
            <th>total seats</th>
            <th>reserved seats</th>
            <th>type</th>
            <th>cost</th>
            <th>date</th>

        </thead>

        {% for row in rows %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td> {{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td> {{row[6]}}</td>
            <td>{{row[7]}}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/">Go back to home page</a>

</body>

</html>